language: php

php:
  - 7.1

before_install:
  - printf "\n" | pecl install amqp

install:
  - composer install --prefer-source --no-interaction --dev

script:
  - ./vendor/bin/phpstan analyze src --level max
  - ./vendor/bin/phpspec run --no-interaction
